# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.apk
*.aab

# Smart contract outputs
artifacts/
cache/
typechain-types/

# Environment
.env
.env.local
.env.production
.secrets

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Testing
coverage/

# Misc
*.tsbuildinfo